@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 25pt;
    font-family: 'Rye', cursive;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.search__input{
 
    padding: 10px 20px 10px 50px;
    height: 48px;
    font-size: 17px;
    color: #718096;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    position: relative;
    right: 0;
    background:  #f4f4f4;
    outline: 0;
    border: 1px solid #f4f4f4;
}

.search__icon{
  position: relative;
  left: 28px;
  z-index: 999;
}